body {
  margin: 0;
  background: #f5f5f5;
  text-align: center;
}

.top-bar {
  background: rgb(4, 247, 77);
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 2px 5px 20px black;
}

select {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px 15px;
  margin-left: 10px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 2px 5px 2px black;
}

.btn:hover {
  background: #f305d7;
}

.map-container {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  box-shadow: 2px 5px 20px rgb(18, 5, 248);
}

.map-container img {
  width: 700px;
  height: auto;
  border-radius: 10px;
}

.flag {
  position: absolute;
  width: 30px !important;
  height: 20px !important;
  cursor: pointer;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.flag-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.flag-wrapper:hover::after {
  content: attr(data-state);
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 9999;
}
