 body {
        font-family: Arial, sans-serif;
        margin: 0;
        background: #f5f5f5;
        text-align: center;
      }

      /* Top Search Bar */
      .top-bar {
        background: white;
        padding: 15px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
        position: sticky;
        top: 0;
        z-index: 100;
      }

      select {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid #ccc;
      }

      /* Map Container */
      .map-container {
        margin-top: 20px;
        position: relative;
        display: inline-block;
      }

      .map-container img {
        width: 700px;
        height: auto;
        border-radius: 10px;
      }

      /* Flag marker */
      .flag {
        position: absolute;
        width: 30px !important;
        height: 20px !important;
        /* object-fit: contain !important; */
        cursor: pointer;
        transform: translate(-50%, -50%);
        z-index: 10;
      }

      /* Tooltip on hover */
      .flag:hover::after {
        content: attr(data-state);
        position: absolute;
        top: -22px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        color: white;
        padding: 2px 6px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        z-index: 9999;
      }
      .flag-wrapper {
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 20;
      }

      .flag-wrapper:hover::after {
        content: attr(data-state);
        position: absolute;
        top: -22px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
        color: white;
        padding: 2px 6px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        z-index: 9999;
      }