#main{
    width: 700px;
    height: 400px;
    border: 1px solid #000;
    display: flex;
    align-items: center;

}
#inner{
    width: 400px;
    height: 300px;
    border: 1px solid #000;
    margin-left: 30px;
    padding: 20px;
}