a:hover {
  color: orange !important;
}
a:active {
    color: red !important;
}
#home
{
    height: 100vh;
}
.card
{
    height: 500px;
    width: 400px;
}

#pdcol{
    width: 100% !important;
    height: 500px !important;
}
.chight{
    height: 350px;
}