h1 {
  width: 200px;
  height: 40px;
  border: 1px solid #000;
  margin-left: 0px;
}
h1:hover {
  width: 400px;
  transition: width 2s;
}
#out {
  width: 400px;
  height: 50px;
  border: 3px solid #000;
  margin: 50px;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  #in {
    width: 100px;
    height: 50px;
    background: orange;
    border-radius: 30px;
  }
}

#out:hover {
  #in {
    width: 400px;
    background-color: rgb(0, 8, 255);
    transition: width 2s ease-out, background-color 5s;
  }
}

#outer {
  width: 500px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 30px;
  #inner {
    height: 50px;
    border-radius: 30px;
  }
}

#outer:hover {
  #inner {
    animation: myAnimation 5s;
  }
}
@keyframes myAnimation {
  0% {
    width: 0%;
    background-color: red;
  }
  50% {
    width: 50%;
    background-color: yellow;
  }
  100% {
    width: 100%;
    background-color: green;
  }
}

#main {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  position: relative;
  #box {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    background: red;
    margin-left: 0px;
    position: absolute;
  }
}

#main:hover {
  #box {
    animation: dabba 2s linear infinite;
  }
}

@keyframes dabba {
  0% {
    top: 0px;
    left: 0px;
    background-color: green;
  }
  25% {
    top: 0px;
    left: 450px;
    background-color: yellow;
  }
  50% {
    top: 450px;
    left: 450px;
    background-color: blue;
  }
  75% {
    top: 450px;
    left: 0px;
    background-color: pink;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
#d2 {
  width: 100px;
  height: 50px;
  font-size: xx-large;
  border: 1px solid #000;
  transform: rotateZ(90deg);
}

#chakr {
  margin: 200px;
  img {
    width: 200px;
    
    /* transform: rotateZ(360deg);
  transition: transform 5s  ;    */
  }
}
#chakr:hover {
  img
  {
    animation: chakrmove 15s ease-in-out infinite;
  }
}
@keyframes chakrmove {
  0% {
    transform: rotateZ(90deg);
  }
  25% {
    transform: rotateZ(180deg);
  }
  50% {
    transform: rotateZ(270deg);
  }
  75% { 
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(90deg);
  }
}
