#main {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
.sub {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 20px;
  background-color: whitesmoke;
}

@media screen and (max-width: 900px) {
  #main {
    grid-template-columns: auto auto auto;
  }
}
