#mainDiv
{
    width: 700px;
    height: 700px;
    background: aqua;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subDiv
{
    height: 60px;
    width: 60px;
    border: 1px solid #000;
    background: beige;
}